body    {
    width: 100%;
    margin: 0px auto;
    background-image: url(./../images/cork-wallet.png)
}

.top    {
    float: left;
    width: 100%;
    margin: 0px auto;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.name   {
    width: 200px;
    color: white;
    background: #4aaaa5;
    float: left;
    margin: 0px 0px 0px 150px;
    padding: 20px;
}

.first  {
    float: left;
    position: relative;
    left: 450px;
}

nav     {
    right: 0px;
    font-size: large;
    padding: 20px;
}

a.navBorder{
    display: inline;
    padding-right: 15px;
    border-right: 1px solid lightgray;
}

.main   {
    float: left;
    width: 650px;
    margin: 25px 15px 20px 150px;
    padding: 10px 0px 20px 0px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.content{
    border-bottom: 3px solid #cccccc;    
}

.connect{
    float: left;
    width: 270px;
    margin: 25px 150px 0px 15px;
    padding: 0px 0px 20px 0px;
    background: #ffffff;
    text-align:center;
    border: 1px solid #dddddd;
}

h2      {
    position: relative;
    font-size: xx-large;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding: 20px 0px 20px 0px;
    margin:0px 20px 0px 20px
}

h3      {
    padding: 20px;
    margin: auto 25px;
    font-size: x-large;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 1px solid #cccccc;
}

p       {
    font-size: large;
    padding: 20px 20px 0px 20px;
    color: #777777;
    line-height: 1.5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a       {
    color: #777777;
    text-decoration: none;
    padding-left: 5px;
}

form    {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 20px;
}

input   {
    margin: 10px 0px;
    width: 590px;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

textarea{
    margin: 10px 0px;
    width: 590px;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input[type=submit]{
    width: 20%;
    color:  #ffffff;;
    background: #4aaaa5;
}

img.me  {
    float: left;
    padding: 20px 20px 0px 20px;
}

footer  {
    width: 100%;
    background: #666666;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.footer {
    color: lightgray;
    font-size: small;
    border-top: 5px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.imageLeft{
    position:relative;
    float: left;
    width:290px;
    margin:40px 15px 0px 20px;
}

.imageRight{
    position:relative;
    float:left;
    width:290px;
    margin:40px 20px 0px 15px;
}

.image  {
    position:static;
    width:290px;
}

.imgtxt {
    position:absolute;
    bottom:10px;
    left:-25px;
    color:#ffffff;
    background:#4aaaa5;
    float:left;
    width:250px;
    border-bottom: none;
}